extends layout

block content
  h1= title
  
  - let foods = results
    div(class="container-fluid")
        dic(class="row align-items-start")
            each item,index in foods 
                - let destination = `dispatch(\"/food/update?id=${item._id}\")`
                div(class="col-sm-2") foodtype:#{item.foodtype}, size:#{item.size}, price:#{item.cost}
                    button.btn( class="btn-primary ml-1", onclick= destination) Update
    script. 
        function buy(index){
            alert(`You purchased item ${index+1}`);
        }
        function dispatch(path){
            window.location.href=path
        }
